<p-fieldset legend="Movie">
  <div class="col-xs-12" *ngIf="movie">
    <div class="item">
      <span>Title:</span>
      <span>{{ movie.title }}</span>
    </div>
    <div class="item">
      <span>Release date:</span>
      <span>{{ movie.releaseDate | date : "yyyy-MM-dd" }}</span>
    </div>
    <div class="item">
      <span>Actors:</span>
      <ul *ngIf="movie.actors?.length">
        <li *ngFor="let item of movie.actors">{{ item.name }}</li>
      </ul>
    </div>
  </div>
</p-fieldset>
