<p-toast />
<div class="header">
  <span>Casting Agency</span>
</div>
<div class="row">
  <div class="leftcolumn">
    <p-menu [model]="items" styleClass="left-menu">
      <ng-template pTemplate="item" let-item>
        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="p-menuitem-link"
          *ngIf="item.route"
        >
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>

        <a class="p-menuitem-link" *ngIf="!item.route" (click)="onLogout()">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-template>
    </p-menu>
  </div>
  <div class="rightcolumn">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer"><h3>Casting Agency</h3></div>

<!-- <p-toast /> -->
